@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

#footer {

  background-color: #a87c49;
  color: var(--ncp-white);
  padding: 60px 0;

  .footer-link {
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 1rem;
  }

  .footer-container {
    max-width: 100%;
    padding-left: 170px;
    padding-right: 170px;

    @include media-breakpoint-down(md) {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .footer-col {
    margin-bottom: 5px;
  }

  .footer-paragraph {
    @include media-breakpoint-down(md) {
      padding: 0 20px;
    }
  }


}