*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

.sec1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec1 div:nth-child(1){
    color: white;
}

.sec1 div:nth-child(1) h1{
    font-size: 5em;
}

.sec1 div:nth-child(1) h3{
    font-size: 1.8rem;
    text-align: justify;
    font-weight: 700;
    margin-bottom: 15px;
}

.sec1 div:nth-child(2) img{
    width: 600px;
}

.btn-1{
    margin: 0 5px;
    padding: 5px 20px;
    border: 1.5px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s;
}

.btn-1:hover{
    background-color: white;
    columns: #231709;
}

.line{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.line div{
    background-color: white;
    width: 50px;
    height: 3px;
    border-radius: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.line div:nth-child(2){
    background-color: rgba(255, 255, 255, 0.219);
    width: 70px;
}

.sec2{
    margin: 80px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec2 h1{
    font-size: 2.5rem;
}

.sec2 .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 10px;
}

.sec2 .container div{
    cursor: pointer;
    margin-top: 30px;
    background-color: #38250f;
    border: 1px solid white;
    border-radius: 5px;
    height: 320px;
    width: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s;
}

.sec2 .container div:hover{
    transform: scale(1.04);
}

.sec2 .container div img{
    width: 100%;
    height: 210px;
    object-fit: cover;
}

.sec2 .container div i{
    padding: 2px 2px;
    border-radius: 50%;
    font-size: 30px;
    margin-bottom: 15px;
    transition: all 0.2s;
}

.sec3{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 80px;
}

.sec3 div:nth-child(1){
    width: 600px;
}

.sec3 div:nth-child(1) img{
    width: 500px;
}

.sec3 div:nth-child(2){
    max-width: 600px;
    border: 1px solid white;
    border-radius: 8px;
    padding: 35px;
}

.sec3 div:nth-child(2) p{
    font-size: 12px;
    line-height: 25px;
    padding: 20px 0;
    text-align: justify;
}

.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    margin-bottom: 80px;
}

.sec4div{
    width: 100%;
    padding: 10% 0;
}

.fa-minus{
    padding-right: 20px;
}

.add.none{
    background-color: transparent;
    height: 50px;
}

.hide{
    display: none;
}

.fa-minus.hide{
    display: none;
}

.show{
    display: block;
}

.sec5{
    background-color: #38250f;
    border: 1px solid white;
    border-radius: 15px;
    padding: 50px;
    color: white;
    margin-bottom: 150px;
}

.sec5 h1{
    font-size: 2.4rem;
}

.sec5 .container{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}

.sec5 h3{
    font-size: 1.1rem;
    padding: 10px 0;
    padding-bottom: 5px;
}

.sec5 p, .sec5 pre{
    font-size: 0.7rem;
    margin-bottom: 10px;
}

.sec5 .container div:nth-child(2){
    margin-left: 0px;
    width: 69%;
}

.sec5 form{
    padding: 0 20px;
}

.sec5 input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    margin: 10px;
    line-height: 20px;
    color: white;
}

.sec5 input::placeholder{
    color: rgba(255, 255, 255, 0.514);
}

.sec5 .btn-1{
    margin-top: 20px;
}

.sec5 .container div:nth-child(3){
    width: 2px;
    height: 100px;
    background-color: white;
    margin: 70px 0;
}

.sec5 .container div:nth-child(4){
    display: flex;
    flex-direction: column;
}

.sec5 a{
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: white;
    margin: 10px 0;
    transition: all 0.2s;
}

.sec5 a:hover{
    background-color: white;
    color: #38250f;
}